@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.font-link {
  font-family: 'Lato';
}

body {
  font-family: 'Lato', sans-serif;
  /* background: #242424; */
  background: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid #42275a; */
  /* background-color: red; */
}

.margin-top-75 {
  margin-top: 75px;
}

.portfolio-section {
  max-width: 1320px;
  padding: 50px 100px;
  /* border: 2px solid #42275a; */
  background: #fbfbfb;
}

.portfolio-p {
  padding: 0 70px;
  font-size: 16px;
  color: #191919;
  font-family: 'Lato';
  /* border: 2px solid #42275a; */
}

h3.portfolio-h3 {
  color: #191919;
  font-family: 'Lato';
  font-weight: 300;
}

.portfolio-h3p {
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
  box-shadow: 1px 1px 10px #eee;
}

.images-section {
  margin-top: 35px !important;
  max-width: 1200px;
  padding: 0;
  padding-bottom: 60px;
}

.css-1dzczao-MuiTypography-root {
  font-family: 'Lato' !important;
}

.card-img:hover {
  opacity: 0.7;
}

.card-content {
  opacity: 0;
  transition: all 200ms;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box-content:hover .card-content {
  opacity: 1;
}

button.card-btn {
  background: snow;
  color: #42275a;
  border: none;
  margin-top: 10px;
  text-transform: inherit;
  padding: 5px 40px 5px 40px;
  font-size: 16px;
  letter-spacing: 0.03em;
}

button.card-btn:hover {
  background: snow;
  color: #42275a;
  border: none;
}

.card-data {
  color: #fff;
  text-align: center;
  user-select: none;
  font-size: 16px !important;
}

button.btn-github {
  margin-top: 15px;
  text-transform: inherit;
  font-weight: 600;
  letter-spacing: 0.1em;
  background: #eee;
  color: #191919;
  padding: 8px 30px;
}

button.btn-github:hover {
  background: #eee;
}

.github-card {
  display: flex;
  align-items: center;
}

.box-content {
  height: 200px;
}

.box-content:hover {
  border-radius: 5px;
  background: linear-gradient(to bottom, #444, #000000);
  
}

.card-img-v {
  height: 100%;
}

.box-content:hover .card-img-v {
  opacity: 0;
}

@media (max-width: 900px) {
  .portfolio-p {
    padding: 0;
  }
  .images-section {
    display: flex;
    justify-content: center;
    margin-top: 35px !important;
  }
  .portfolio-section {
    padding: 0 55px;
  }
  .App {
    margin-top: 35px;
  }
}

@media (max-width: 600px) {
  .portfolio-section {
    padding: 0 10px;
  }
  .images-section {
    margin-top: 20px !important;
  }
}
